<% include ../partials/header %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 style="text-align: center">Comment Page: <%= restaurant.name %></h1>
				<a href="/restaurants/<%= restaurant._id %>">Go back to the restaurant page</a>
				<div class="thumbnail">
					<div class="caption-full">
						<% if (restaurant.rating === 0) { %>
						<h5>
							<em>No comments yet.</em>
						</h5>
						<% } else { %>
							<p>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star <% if (restaurant.rating > 1.5) { %> checked <% } %>"></span>
								<span class="fa fa-star <% if (restaurant.rating > 2.5) { %> checked <% } %>"></span>
								<span class="fa fa-star <% if (restaurant.rating > 3.5) { %> checked <% } %>"></span>
								<span class="fa fa-star <% if (restaurant.rating > 4.5) { %> checked <% } %>"></span>
								<em>(total comments: <%= restaurant.comments.length %>)</em>
							</p>
							<p>
								Current restaurant rating: <strong><%= restaurant.rating.toFixed(2) %></strong>
							</p>
							<p><h4>All comments for this restaurant:</h4></p>
							<hr style="margin-top: 0;">
							<% restaurant.comments.forEach(function(comment){ %>
							<div class="row">
								<div class="col-md-3">
									<%- '<span class="fa fa-star checked"></span>'.repeat(comment.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - comment.rating) %>
										<div>Comment by: <strong><%= comment.author.username %></strong></div>
											<span><em><%= comment.updatedAt.toDateString() %></em></span>
										</div>
										<div class="col-md-9">
											<p style="text-align: justify; word-wrap: break-word;">
												<%= comment.text %>
											</p>
											<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
											<a class="btn btn-xs btn-warning" href="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>/edit">Edit</a>
											<form id="delete-form" action="/restaurants/<%=restaurant._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
												<input type="submit" class="btn btn-xs btn-danger" value="Delete">
											</form>
											<% } %>
										</div>
									</div>
									<hr>
									<% }); %>
								<% } %>
							<div>
								<a class="btn btn-primary <% if (currentUser && restaurant.comments.some(function (comment) {return comment.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/restaurants/<%= restaurant._id %>/comment/new">Write a New Comment</a>
							</div>
							<div style="margin-top: 10px;">
								<a class="btn btn-default" href="/restaurants/<%= restaurant._id %>"><i class="fa fa-arrow-left"></i> Go back</a>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>

<% include ../partials/footer %>